<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>회원 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="userId">회원ID</label>
        <input type="text" id="userId" name="userId" class="form-control" value="1" th:value="${member.userId}" readonly>
    </div>

    <div>
        <label for="email">회원이메일</label>
        <input type="text" id="email" name="email" class="form-control" value="이메일" th:value="${member.email}" readonly>
    </div>


    <div>
        <label for="password">비밀번호</label>
        <input type="text" id="password" name="password" class="form-control" value="비밀번호" th:value="${member.password}" readonly>
    </div>

    <div>
        <label for="name">회원이름</label>
        <input type="text" id="name" name="name" class="form-control" value="이름" th:value="${member.name}" readonly>
    </div>

    <div>
        <label for="phoneNumber">휴대폰 번호</label>
        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="휴대폰번호" th:value="${member.phoneNumber}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='memberListView.html'"
                    th:onclick="|location.href='@{/member/memberList}'|"
                    type="button">회원 목록</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='index.html'"
                    th:onclick="|location.href='@{/main}'|"
                    type="button">메인으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>